https://github.com/cloudify-cosmo/cloudify-dsl-parser/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-script-plugin/archive/master.zip
https://github.com/cloudify-cosmo/cloudify-cli/archive/master.zip
https://github.com/mistio/mist.client/archive/master.zip
https://github.com/mistio/cloudify-mist-plugin/archive/master.zip

